html,
body {
    padding: 0;
    margin: 0;
    background: rgb(51, 43, 55);
    background: radial-gradient(circle, rgba(51, 43, 55, 1) 0%, rgba(51, 43, 55, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'MedievalSharp', cursive;
}

img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em .5em;
    gap: .1em;
}

@media(min-width:550px) {
    main {
        flex-direction: row;
        margin: 1.5em .5em;
        justify-content: center;
        width: 86vw;
        gap: 2rem;
    }
}

.character-card {
    height: 18rem;
    margin-top: .5rem;
    width: 94vw;
    max-width: 230px;
    padding: .1em .5em;
    font-size: 1.6rem;
    color: white;
    position: relative;
    background: #231d24;
    text-align: center;
    border: 0.08rem solid #000721;
    border-radius: 14px;
    box-shadow: inset 0px 0px 6px 2px rgba(100, 100, 100, 0.2),
        0px 0px 10px rgba(117, 182, 214, 0.2);
}

@media(min-width:550px) {
    .character-card {
        border: 0.2rem solid #000721;
        height: 32rem;
        width: 40vw;
    }
}

/* =========
     name   
   ========= */
.name {
    margin: .3em 0;
    width: 100%;
    letter-spacing: 0.08em;
    font-size: 90%;
}

@media(min-width:550px) {
    .name {
        margin: .5em 0;
        font-size: 2rem;
        letter-spacing: 3px;
    }
}

/* ==========
     Avater   
   ========== */
.avatar {
    max-width: 110px;
    width: 100%;
    border: 2px solid #000721;
    border-radius: 10px;
    opacity: 0.8;
    background-color: rgba(0, 7, 33, 0.8);
}

@media(min-width:550px) {
    .avatar {
        max-width: 150px;
    }
}

/* ==========
     Health   
   ========== */
.health {
    font-size: 1.1rem;
    font-weight: normal;
    width: 90%;
    text-align: left;
    margin: 0 5%;
    margin-bottom: .1em;
    color: #ccc;
    letter-spacing: 0.03em
}

@media(min-width:550px) {
    .health {
        font-size: 1.5rem;
        margin: .5em 5% .2em 5%;
    }
}

.health b {
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
}

/* =====================
        Health bar      
   ===================== */
.health-bar-outer {
    background: #171217;
    max-height: .4em;
    height: 1vh;
    min-height: 4px;
    width: 90%;
    margin: 0 5%;
    border-radius: 4px;
}

.health-bar-outer .health-bar-inner {
    background: #466d34;
    height: 100%;
    border-radius: 4px;
}

@media(min-width:550px) {
    .health-bar-outer {
        height: 2vh;
        min-height: 8px;
        border-radius: 4px;
    }

    .health-bar-outer .health-bar-inner {
        border-radius: 4px;
    }
}

.health-bar-outer .health-bar-inner.danger {
    background: #d1435f;
}

/* ===============
       Score 
   =============== */
.score {
    margin-top: .2em;
    font-size: 1rem;
    color: #963404;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0;
    margin-top: .1em;
}

.score span {
    font-size: 1.5rem;
    color: #fcc02a;
}

@media (min-width: 550px) {
    .score {
        font-size: 1.5rem;
        margin-top: .5em;
    }

    .score span {
        font-size: 2rem;
    }
}

/* =================================
            Dice container
   ================================= */
.dice-container {
    width: 100%;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000721;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@media(min-width:550px) {
    .dice-container {
        min-height: 6em;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        gap: .5rem;
    }
}

.dice,
.placeholder-dice {
    width: 2em;
    height: 2em;
    border-radius: 4px;

    /* this line of code if image doesn't showed up */
    color: white;
    text-align: center;
}

@media(min-width:550px) {

    .dice-container .dice,
    .dice-container .placeholder-dice {
        height: 70px;
        width: 70px;
    }
}

.dice-container .placeholder-dice {
    background-color: transparent;
}

/* this is for when player haven't start playing */
.dice-container .placeholder-dice {
    border: 1px solid #666;
}

/* ===============
       Button
   =============== */
button {
    margin: .5rem 0;
    font-size: 1.5rem;
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
    letter-spacing: 2px;
    color: #963404;
    background-color: #fcc02a;
    border: 2px solid #963404;
    border-radius: 6px;
    outline: none;
    padding: .4em 1.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

#play-again-btn {
    background-color: #963404;
    color: #fcc02a;
    border: 2px solid #fcc02a;
}

button:focus {
    outline: 0
}

/* ====================
       End message
   ==================== */

.end-game {
    margin-top: 15vh;
    width: 100%;
    text-align: center;
}

.endImg {
    width: 250px;
    box-shadow: inset 0px 0px 6px 2px rgba(100, 100, 100, 0.2),
        0px 0px 10px rgba(117, 182, 214, 0.2);
}

.end-p {
    padding-bottom: 1em;
}

.end-character {
    color: #963404;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: underline overline;
    text-transform: uppercase;
}

.remaing-health {
    font-size: 2rem;
    padding: .2em;
    color: #fcc02a;
}